.cart_container {
    background: #353535;
    color: #ffffff;
    max-width: 200px;
    text-align: center;
    border-radius: 7px;
    white-space: nowrap;
}

.cart_tooltip {
    background: #ffffff;
    padding: 10px;
    border: 1px solid rgb(128, 128, 128);
    position: absolute;
    width: 200px;
}

.cart_tooltip-hidden {
    display: none;
}

.cartTooltip_itemImg {
    width: 40px;
    float: left;
    margin-right: 10px;
}

.cartTooltip_item {
    border-bottom: 1px solid rgb(128, 128, 128);
    overflow: hidden;
    overflow: hidden;
    margin-top: 10px;
    padding-bottom: 10px;
}

.cartTooltip_item:last-child {
    border-bottom: none
}