.mobilDetail_imgShop {
    float: left;
    max-width: 400px;
    text-align: center;
}

.mobilDetail_imgShopSelect {
    text-align: left;
    margin-top: 5px;
}

.mobilDetail_spec {
    float: right;
}

.mobilDetail_specBrand {
    font-weight: bold;
    color: #25a2d1;
    font-size: 1.5vw;
}

.mobilDetail_specAll {
    font-size: 0.5vw;
}
.mobilDetail_specAll-hidden {
    display:none
}

.mobilDetail_error {
    color: #ff0000;
    background: #bd7878;
}

.mobilDetail_imgShopButtonCart {
    background: #25a2d1;
    color: #fff;
    width: 200px;
    line-height: 40px;
    margin-top: 10px;
    border: none;
    font-size: 2vw;
}

.mobilDetail_imgShopButtonCart:disabled {
    background: grey;
    opacity: 0.8;
}

.mobilDetail_messageOK {
    background: rgb(183, 198, 183);
    border: 1px solid rgb(10, 63, 10);
    max-width: 300px;
    margin: auto;
    text-align: center;
}