.header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(60, 60, 60);
}
.header::before{
    width: 100%;
    height: 15px;
    background: rgb(212, 211, 211);
    border-bottom: 1px solid rgb(60, 60, 60);
    content: ' ';
    display: block;
    margin-bottom: 5px;
}

.header_container {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header_title, .header_title a,  .header_title a:link,  .header_title a:hover{
    color: #353535;
    font-weight: bold;
    font-size: 3vw;
    text-decoration: none;
    flex: 3;
    margin: 0;
}

.header_cart {
    flex: 1;
}

.header_breadcrumb {
    padding: 0 10px;
}