.listMobiles{
    padding: 10px;
}

.listMobiles_title {
    color: #353535;
}

.listMobiles_list {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    gap: 30px 20px;
}

.listMobiles_item, .listMobiles_item:link {
    background: #f4f4f4;
    border: 1px solid #adadad;
    flex-grow: 0;
    width: 300px;
    color: #000;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 0;
    flex-basis: calc(25% - 40px);
}


.listMobiles_item a {
    color: #000;
    text-decoration: none;
}
.listMobiles_itemImage {
    height: 100px;
}
.listMobiles_itemBrand {
    font-weight: bold;
    color: #25a2d1;
    font-size: 1.5vw;
    margin-top: 10px;
}
.listMobiles_itemPrice {
    color: rgb(45, 45, 45);
}

.listMobiles_header {
    display: flex;
    align-items: center;
    flex-flow: wrap;
}
.listMobiles_title {
    flex: 1;
    margin: 0;
}

.listMobiles_input {

}

